<!-- <div *ngIf="detail" >
    <div> 
        <img src="{{ detail.image }}" alt="">
    </div>
    <div>
        <h3>{{ detail.title }}</h3>
        <h3>{{ detail.ingredients }}</h3>
    </div>
   
</div>

<button (click)="goBack()" >Vuelve atras</button>
 -->


<div class="fond"> <span class="s1">Recetas</span><span class="s2">cocina</span></div>
<div class="card" *ngIf="detail">
  <div class="thumbnail"><img class="left" src="{{ detail.image }}"/></div>
  <div class="right">
    <h1>{{ detail.title }}</h1>
    <div class="separator"></div>
    <p>{{ detail.ingredients }}</p>
    <p>{{ detail.elaboration }}</p>
  </div>
  <ul>
    <li><i class="fa fa-eye fa-2x"></i></li>
    <li><i class="fa fa-heart-o fa-2x"></i></li>
    <li><i class="fa fa-envelope-o fa-2x"></i></li>
    <li><i class="fa fa-share-alt fa-2x"></i></li>
  </ul>
  <button class="fab " (click)="goBack()" > Vuelve atrás </button>
  <button class="fabb" (click)="deleteRecipe(this.detail.id)" *ngIf="!id" >Borrar</button>

</div>
