.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
 
    .nav--logo{
        margin-left: 25px;
        .nav--logo_image{
            height: 80px;
            width: 180px;
            cursor: pointer;
            
        }
        .nav--logo_element{
            -webkit-text-stroke: 1px black;
            color: white; 
            font-size: 3rem;
            font-family: monospace;
            font-weight: bold;
        }
    }
  
    .nav--list{
        display: flex;

    }
    .nav--list_element{
        -webkit-text-stroke: 0.5px black;
        color: white;
        list-style: none;
        font-size: 28px;
        font-weight: bold;
        margin-left: 10rem;
        cursor: pointer;

    }
    .nav--list_element:hover{
        font-size: 25px;
    }
   
}