<nav class="navbar" >
    <div class="nav--logo">
            <h1 class="nav--logo_element" >ComoEnCasa</h1>
    </div>
    <div>
        <ul class="nav--list">
            <li class="nav--list_element" routerLink="/home" >Home</li>
            <li class="nav--list_element" routerLink="/list" >List</li>
            <li class="nav--list_element" routerLink="/create" >Create</li>
            <li class="nav--list_element" routerLink="/about" >About</li>
        
        </ul>
    </div>

</nav>