
<app-search-form class="search--from_box" (search)="handleSearch($event)" ></app-search-form>

<div class="detail--box"   >
    <!-- <app-item-list   *ngFor="let item of itemList | search:filtro_valor" [item]="item" ></app-item-list> -->
    
    <div *ngFor="let item of itemList | search:filtro_valor" [item]="item" >
        <div class="card" [routerLink]="['/detail' , item.id ]" >
         <div class="card__image-holder">
           <img class="card__image" src="{{ item.image }}" alt="wave" />
         </div>
         <div class="card-title">
       
           <h2>
             {{ item.title }}
             
           </h2>
         </div>
      
       </div>
       
   </div>

</div>
<div class="detail--btn">
    <button class="list--section_btn" (click)="goBack()" >Vuelve atras</button>
</div>
