
.detail--box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 25px;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    color:white;

}

.detail--btn{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    display:flex ;
    justify-content: center;


    .list--section_btn{
        border-style: none;
        cursor: pointer;
        background-color: black;
        border-bottom: 1px solid white;
        color: white;
        font-size: 25px;
        font-weight: bold;
        padding: 10px;
        margin: 2px;
  
      }



}

/*Form search*/

.search--from_box{
    margin: 0px;
    padding: 0px;
}

/*List Style*/




// colour stuff
$white: #ffffff;



div.card {

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    
      margin:10px auto;
      border-radius:5px;
      box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
      padding:13px;
      width:320px;
      height:320px;
      
  }

  .card__image-holder {

    width: 550px;
    height: 300px;
    background: transparent;
    overflow: hidden;

  }

  div.card-title {
    background: transparent;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;


    h2 {
      font-size: 1.5rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0;

    }
  }



 
}



