

<!-- 
  <div class="blog-card" [routerLink]="['/detail' , item.id ]" >
    <div class="meta">
      <div class="photo">
      <img class="photo" src="{{ item.image }}" alt="">
      </div>
      <ul class="details">
        <li class="author"><a href="#">{{ item.ingredients }}</a></li>
  
      </ul>
    </div>
    <div class="description">
      <h1>{{ item.title }}</h1>

      <p>{{ item.elaboration }}</p>
      <p class="read-more">
        <a href="#">Read More</a>
      </p>
    </div>
  </div> -->



  
<div >
     <div class="card" [routerLink]="['/detail' , item.id ]" >
      <div class="card__image-holder">
        <img class="card__image" src="{{ item.image }}" alt="wave" />
      </div>
      <div class="card-title">
    
        <h2>
          {{ item.title }}
          
        </h2>
      </div>
   
    </div>
    
</div>
 