
    <div class="nav--search"  >
        <mat-form-field class="nav--search_element">
            <input [formControl]="search"  matInput placeholder="Busca Receta" >
        </mat-form-field>
    </div>
    