.nav--search{
   display: flex;
   justify-content: center;

    .nav--search_element{
        color: rgb(0, 0, 0);
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
    }

    .mat-form-field{
        width: 80%;
    }
}