

<form class="form-container" *ngIf="recipeForm" novalidate [formGroup]="recipeForm" (ngSubmit)="onSubmit()" >

    <div class='form-head'>
        <h1 class='form-head_title'>Añade tu receta favorita</h1>
        <p class='form-head_subtitle'>Sorprende a todos...</p>
      </div>


    <fieldset class="fieldset">
       
        <input class='form-input id' type="number" id="id" formControlName="id" placeholder="ID">

        <div class="error" *ngIf="!recipeForm.get('id').valid &&
        (recipeForm.get('id').dirty || submitted)" >Input Error</div>

        
        <input class='form-input email' type="text" id="title" formControlName="title" placeholder="Title">

        <div class="error" *ngIf="!recipeForm.get('title').valid &&
        (recipeForm.get('title').dirty || submitted)" >Input Error</div>


    </fieldset>




    <fieldset class="fieldset">
      
        <textarea class='form-input message' type="text" id="ingredients" formControlName="ingredients" placeholder="Ingredientes"></textarea>

        <div class="error" *ngIf="!recipeForm.get('ingredients').valid &&
        (recipeForm.get('ingredients').dirty || submitted)" >Input Error</div>


    </fieldset>

    <fieldset class="fieldset">
  
        <textarea class='form-input message' type="text" id="elaboration" formControlName="elaboration" placeholder="Elaboracion"></textarea>

        <div class="error" *ngIf="!recipeForm.get('elaboration').valid &&
        (recipeForm.get('elaboration').dirty || submitted)" >Input Error</div>


    </fieldset>



    <fieldset class="fieldset" >

        <input class='form-input name' type="text" id="image" formControlName="image" placeholder="Imagen">

        <div class="error" *ngIf="!recipeForm.get('image').valid &&
        (recipeForm.get('image').dirty || submitted)" >Input Error</div>


    </fieldset>


	<button class='form-input submit' type="submit" [disabled]="!recipeForm.valid">Submit</button>

</form>

<app-modal-create [(showModal)]="showModal">
    <div class="modal-header">
      <h1>Formulario Recetas</h1>
    </div>
    <div class="modal-body">
      <h3>Receta Creada con exito</h3>
      <button routerLink="/list">Volver al listado</button>
    </div>
  </app-modal-create>