$col-accent: #FFF;
$col-primary: #f72f4e;
$col-dark: #140228;
$formElements: 5;

$font-stack: Roboto, sans-serif;
$easer: cubic-bezier(0.4, 0, 0.2, 1);

.form-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('https://st2.depositphotos.com/3731481/7824/v/950/depositphotos_78244412-stock-illustration-seamless-background-with-cute-hand.jpg');
    color:white;

  
    .form-head{
        margin-top: 10px;
        .form-head_title{
            font-size: 35px;
        }
        .form-head_subtitle{
            text-align: center;
            font-size: 25px;
        }
    }

    .fieldset{
        
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;


    }
    .form-input{
        padding: 5px;
        margin: 15px;
        width: 400px;
        border:none ;
        border-bottom: 4px solid black ;
        text-align: center;
        font-size: 25px;
    }
    .message{
        padding-top: 30px;
        padding-bottom: 30px;
    }
 
    .submit{
        background-color: black;
        color: white;
        cursor: pointer;
        width: 100px;
    }
    .submit:disabled{
        background-color: transparent;
        color: white;
    }


}