<div class="home--section" >

 
    <div class="home--section_texto" >

        <p class="home--section_p"  >
            Cocinar es fácil, divertido, es el mejor antistress que conozco, y creo que el secreto reside en encontrar una receta que te guste, un poco de paciencia, buenos ingredientes y voilâ, no hay mejor recompensa que un ohhhh!!!!, esto está delicioso!!
        </p >

        <p  class="home--section_p">
            Con ésta web quiero compartir con quién lo desee todas aquellas recetas que he ido recopilando a lo largo de éstos años, recetas de mis abuelas, mi madre y amigos de diferentes nacionalidades.
        </p>
        <p  class="home--section_p" >
            Tembién te invito a que subas tus recetas favoritas y compartas tus conocimientos culinares con los demás
         </p>

         <span class="home--section_btn" type="botton" [routerLink]="['/list']" >Lista de recetas</span>
         <span class="home--section_btn" type="botton" [routerLink]="['/create']" >Añade tu receta</span>

    </div>


   
    </div>

