// .home--section{
//     background-color: rgb(173, 28, 28);
//     color:white;
//     display: flex;
//     justify-content: center;
//     align-items: baseline;
//     font-size: 25px;
//     min-width: 100%;
//     min-height: 100%;
//     position: relative;
//     overflow: hidden;
//     z-index: -1000;
//     top:-390px;
//     right: 0px;
// }

.home--section{
    // background-image:url('../../../../../assets/fondopapel.jpg');
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),;
    color:white;
    display: flex;
    justify-content: center;
}



.home--section_texto{
    padding: 5px;
    width: 50%;
    color: rgb(238, 223, 223);
    font-size: 22px;
    text-align: center;

  }
  .home--section_p{
      padding: 15px;
      font-size: 25px;
      font-weight: bold;
  }

  .home--section_btn{
    position: relative;
    cursor: pointer;
    background-color: black;
    border-bottom: 1px solid white;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
  }