

<div class="home--banner">
   
    <div class="home--baner_video" >
        <video autoplay muted loop class="myVideo"  >
            <source src="../../../../../assets/video (9).mp4"  type="video/mp4">
          </video>

    </div>


   

        <div   class="home--banner_texto">


            <h2>{{ title.title }}</h2>
            <h3>{{ title.subTitle }}</h3>
    
        </div>
 

</div>