
.home--baner_video{
  height: 800px;
}

.myVideo {
    position: relative;
    top: -300px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: 1200px;
    height: 1200px;
    z-index: -1000;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
  }


.home--banner_texto{
    background-color: black;
    min-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-align: center;

  }
